.footer-copyright{
  .copyright-info{
    margin-bottom: 1rem;
    text-align: center;

    span{
      line-height: 1.5;

      &:nth-child(2){
        margin: 0 0;
        padding-left: 15px;
        padding-right: 15px;

        &:after, &:before{
          content: none;
        }
      }
    }
  }

  .madeby{
    text-align: center;
  }
}
