@charset "UTF-8";

/* CSS Variables */
:root {
    --bodyColor: #f4f4f4;
    --primaryFont: 'Roboto', sans-serif;
    --bodyFontSize: 16px;
    --cardTitleSize: 18px;
    --widgetTitleSize: 18px;
    --boldWeight: 700;
    --mediumWeight: 500;
    --regularWeight: 400;
    --cardTitleColor: #000;
    --widgetTitleColor: #000;
    --cardAddressColor: #777;
    --borderRadius: 4px;
    --cardContentBColor: white;
    --cardContentBHColor: rgba(255, 207, 38, 0.3);
    --cardGap: 30px;
    --cardStatusColor: #ffcf26;
    --cardTimeColor: #11be75;
    --buttonBColor: #e5e5e5;
    --buttonColor: #4290c9;
    --buttonBActive: #11be75;
    --borderColor: #d6d6d6;
    --colorWhite: #fff;
    --colorYellow: #ffcf26;
    --colorLightDark: #3c3c3c;
    --colorLighterDark: #777;
    --colorDark: black;
    --colorBlue: #4290c9;
}

/* Reset css */
* { box-sizing: border-box; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page styles */
body{
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: var(--regularWeight, 400);
    font-size: var(--bodyFontSize, 16px);
    line-height: 24px;
    background-color: var(--bodyColor, #f4f4f4);
}

.container{
    margin-top: 60px;
    margin-bottom: 100px;
}

.container.active:before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .8);
    z-index: 999;
}

.row{
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
}
                                                                                                                                                     
.grid-items{                   
    display: grid;
    grid-gap: var(--cardGap, 30px);                                                                                                                     
    grid-template-columns: repeat(3, 270px);
}

.card__link{
    display: block;
    text-decoration: none;
    transition: box-shadow 450ms ease-in-out;
}

.card__link:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.card__link:hover .card__image img{
    transform: scale(1.1) rotate(-2deg);
}
.card__link:hover .card__content{
    background-color: var(--cardContentBHColor, rgba(255, 207, 38, 0.3));
}

.card__image{
    position: relative;
    min-height: 180px;
    max-height: 200px;
    overflow: hidden;
}

.card__image img{
    width: 100%; 
    transition: transform 450ms ease-in-out;
}

.card__labels{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
}

.card__status,
.card__time{
    border-radius: var(--borderRadius, 4px);
    font-size: 14px;
    font-weight: var(--regularWeight, 400);
    text-align: left;
    line-height: 1.2;
}

.card__time{
    padding: 2.6px 28.1px 2.6px 10px;
    background-color: var(--cardTimeColor, yellow);
    color: var(--cardContentBColor, white);
}

.card__status{
    margin-right: 10px;
    padding: 2.6px 39.5px 2.6px 10px;
    background-color: var(--cardStatusColor, lightgreen);
    color: var(--cardTitleColor, black);
}

.card__content{
    padding: 15px 15px 20px;
    border-bottom-left-radius: var(--borderRadius, 4px);
    border-bottom-right-radius: var(--borderRadius, 4px);
    background-color: var(--cardContentBColor);
    transition: background-color 450ms ease-in-out;
}

.card__title{
    font-style: var(--cardTitleSize, 18px);
    font-weight: var(--boldWeight, 700); 
    line-height: 1.2; /* elem height / elem font size */
    color: var(--cardTitleColor, #000);
}

.card__title,
.card__term,
.card__metro{
    margin-bottom: 10px;
}

.card__term,
.card__metro,
.card__address{
    --cardTermSize: 14px;

    font-size: var(--cardTermSize, 14px);
    line-height: 1.2;
}

.card__term,
.card__metro{
    color: var(--cardTitleColor, #000);
}

.card__address{
    color: var(--cardAddressColor, #777777);
}

.card__metro img{
    margin-right: 10px;
    width: 16px;
}

/* Load more */
.load-more-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--buttonBColor, #e5e5e5);
    cursor: pointer;
    outline: 0;
    border: 0;
    height: 80px;
    width: 100%;
    line-height: 80px;
    transition: background-color 450ms ease-in-out;
}

.load-more:hover{
    background-color: var(--cardContentBHColor);
}

.load-more__text{
    margin-left: 27px;
    font-size: var(--cardTitleSize, 18px);
    color: var(--buttonColor, #4290c9);
}

/* Sidebar */
.widget:not(:last-child){
    margin-bottom: 32px;
}

.widget__title{
    margin-bottom: 16px;
    position: relative;
    font-size: var(--widgetTitleSize);
    font-weight: var(--boldWeight);
    line-height: 1.2;
    color: var(--widgetTitleColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.widget__title:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1px;
    top: 0;
    background-image: url("../img/chevron-up.svg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    transition: transform 350ms ease-in-out;
}

.widget__title--active:after{
    transform: rotate(180deg);
}

.widget__body--closed{
    display: none;
}

/* Widget location */
.location{
    margin-bottom: 32px;
}

.location__group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.location__group:first-child .location__btn{
    border-top: 1px solid #d6d6d6;
}

.location__group:first-child .location__btn:last-child{
    border-right: 1px solid #d6d6d6;
    border-top-right-radius: var(--borderRadius, 4px);
}

.location__group:first-child .location__btn:first-of-type{
    border-left: 1px solid #d6d6d6;
    border-top-left-radius: var(--borderRadius, 4px);
}

.location__checkbox{
    display: none;
}

.location__btn{
    flex-basis: calc(100% / 4);
}

.location__btn[for="location-any"]{
    flex-basis: 100%;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    border-radius: 0 0 var(--borderRadius, 4px) var(--borderRadius, 4px);
}

.location__btn{
    padding: 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: var(--primaryFont);
    font-size: 14px;
    font-weight: var(--mediumWeight);
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 450ms ease-in-out;
}

.location__checkbox:checked + .location__btn{
    background-color: var(--buttonBActive, #11be75);
    color: var(--colorWhite, white);
}

/* Widget Deadline */
.widget-deadline .widget__element{
    display: flex;
    align-items: center;
}

.widget-deadline .widget__element:not(:last-child){
    margin-bottom: 15px;
}

.deadline__radio{
    display: none;
}

.deadline__label{
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--colorLightDark, #3c3c3c);
    cursor: pointer;
}

.deadline__label:before{
    content: '';
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--colorLighterDark,  #777);
    border-radius: 50%;
    background-color: var(--colorWhite);
    transition: background-color 450ms ease-in-out;
}

.deadline__label:after{
    content: '';
    position: absolute;
    left: 7px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background-color 450ms ease-in-out;
}

.deadline__radio:checked + .deadline__label{
    font-weight: var(--mediumWeight);
    color: var(--colorDark, #000);
}

.deadline__radio:checked + .deadline__label:after{
    background-color: var(--colorLightDark, #3c3c3c);
}

.deadline__radio:checked + .deadline__label:before{
    background-color: var(--colorYellow, #ffcf26);
}

/* Widget Additional options */
.widget-options .widget__element{
    display: flex;
    align-items: center;
}

.widget-options .widget__element:not(:last-child){
    margin-bottom: 15px;
}

.option__checkbox{
    display: none;
}

.option__label{
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--colorLightDark, #3c3c3c);
    cursor: pointer;
}

.option__label:before{
    content: '';
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--colorLighterDark,  #777);
    border-radius: 2px;
    background-color: var(--colorWhite);
    transition: background-color 450ms ease-in-out;
}

.option__label:after{
    content: '';
    position: absolute;
    left: 1px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: background-color 450ms ease-in-out;
}

.widget-deadline .widget__element:not(:last-child){
    margin-bottom: 15px;
}

.option__checkbox:checked + .option__label{
    font-weight: var(--mediumWeight);
    color: var(--colorDark, #000);
}

.option__checkbox:checked + .option__label:after{
    background-image: url("../img/check.svg");
}

.option__checkbox:checked + .option__label:before{
    background-color: var(--colorYellow, #ffcf26);
}

.widget-options .widget__element--hidden{
    display: none;
}

.see-more{
    padding: 0;
    color: var(--colorBlue, #4290c9);
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: var(--bodyFontSize, 16px);
    font-family: var(--primaryFont);
}


/* Service switch */
.service__switch{
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 37px;
    height: 20px;
}

.service__switch .service__input{
    opacity: 0;
    width: 0;
    height: 0;
}

.service__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c4c4c4;
    transition: all 450ms ease-in-out;
}

.service__slider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--colorLightDark, #3c3c3c);
    transition: all 450ms ease-in-out;
}

.service__input:checked + .service__slider{
    background-color: var(--colorYellow, #ffcf26);
}

.service__input:focus + .service__slider{
    box-shadow: 0 0 1px var(--colorYellow, #ffcf26);
}

.service__input:checked + .service__slider::before{
    transform: translateX(16px);
}

.service__slider--round{
    border-radius: 10px;
}

.service__slider--round:before{
    border-radius: 50%;
}

.service__text{
    padding-left: 100%;
    margin-right: -270px;
    color: var(--colorLightDark, #3c3c3c);
    cursor: pointer;
}

/* Form Footer */
.form-footer{
    display: flex;
    flex-direction: column;
}

.form-btn{
    margin-bottom: 10px;
    padding: 15px 20px;
    height: 50px;
    font-family: inherit;
    font-size: var(--bodyFontSize, 16px);
    border: 0;
    outline: 0;
    border-radius: var(--borderRadius, 4px);
    cursor: pointer;
    transition: background-color 450ms ease-in-out;
}

.form-footer_submit{
    background-color:var(--colorYellow, #ffcf26);
    color: var(--colorDark, #000);
}

.form-footer_reset{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6d6d6;
    background-color: transparent;
    color: var(--colorLightDark, #3c3c3c);
}

.form-footer_reset svg{
    margin-right: 36px;
}

.form-footer_submit:hover,
.form-footer_submit:focus{
    background-color: rgba(255, 207, 38, 0.7);
}

.form-footer_reset:hover,
.form-footer_reset:focus{
    background-color: var(--buttonBColor, #e5e5e5);
}

/* Sidebar show/hide mobile filter */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    position: fixed;
    top: 0;
    left: 15px;
    z-index: 1000;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--buttonBActive, #11be75);
}
  
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--buttonColor, #4290c9);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
    
.hamburger-inner::before {
    top: -10px; 
}
    
.hamburger-inner::after {
    bottom: -10px; 
}

.hamburger--spring .hamburger-inner {
    top: 2px;
    transition: background-color 0s 0.13s linear; 
}

.hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
    
.hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
  
.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important; 
}
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}

.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); 
}


/* Media Queries */

@media screen and (min-width: 1199px){
    .sidebar__toggle{
        display: none;
    }
}

@media only screen and (max-width: 1199px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .row{
        grid-template-columns: 1fr;
    }

    .page-content{
        order: 1;
    }

    .grid-items{
        grid-template-columns: repeat(3, 1fr);
    }

    .sidebar {
        padding: 30px;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background-color: var(--colorWhite, white);
        z-index: 999;
        overflow-y: scroll;
        scrollbar-width: none;
        transition: right 450ms cubic-bezier(0.39, 0.58, 0.57, 1),
                    opacity 450ms cubic-bezier(0.39, 0.58, 0.57, 1),
                    visibility 450ms cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .sidebar::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    
    .sidebar.active{
        right: 0;
        opacity: 1;
        visibility: visible;
        box-shadow:  0 6px 2px rgba(0, 0, 0, 0.15)
    }

    .location__group:first-child .location__btn:last-child{
        border-left: 1px solid #d6d6d6;
    }

    .location__group:first-child .location__btn:nth-last-of-type(2){
        border-right: 1px solid #d6d6d6;
        border-top-right-radius: var(--borderRadius, 4px);
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .card__status,
    .card__time{
        padding: 2px 10px;
        font-size: 13px;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 992px) {
    .card__image{
        padding-top: 75%;
        min-height: unset;
        max-height: unset;
    }

    .card__image img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    
}

@media screen and (max-width: 767px){
    .card__labels{
        display: none;
    }
}

@media screen and (max-width: 576px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid-items{
        grid-template-columns: 1fr 1fr;
    }

    .sidebar{
        padding: 15px;
    }
    
    .card__link{
        display: flex;

    }
    
    .card__image,
    .card__content{
        flex: 1 1 50%;
    }

    .card__image{
        padding-top: 50%;
    }

    .card__metro img{
        margin-right: 3px;
    }

}

@media screen and (max-width: 360px){
    .grid-items{
        grid-template-columns: 1fr;
    }
}