/* == Main Styles start here == */
main {margin-top: 80px; padding-top: 0.5em;}
#add {
    padding-top: 5px;
}
.post, .social, .contact, .update{
    font-family: $base-font;
    font-weight: 400;
    text-align: left;
    padding-bottom: 1.5em;
}
.update .last {margin-bottom: 0.7em;}
.post{
    .post-text {
        padding-top: 0.5em;
        color: $post-text-color;
        font-size: 0.9em;
        line-height: 1.8;
    }
    a.btn {
    	border: 1px solid transparent;
        color: $post-btn-text-color;
        background: #f6f6f6;
        background: radial-gradient(ellipse at center, $btn-gradient1 0%,$btn-gradient2 0%,$btn-gradient1 0%,$btn-gradient1 0%,$btn-gradient2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=1 );
    	cursor: pointer;
        padding: 0.5em 3em;
    	display: inline-block;
    	text-transform: capitalize;
    	letter-spacing: 1px;
    	font-weight: 700;
    	outline: none;
    	position: relative;
    	-webkit-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
    }

    .btn:after {
    	content: '';
    	position: absolute;
    	z-index: -1;
    	-webkit-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
    }
    a.btn-4 {
    	border-radius: 5px;
    	border: 1px solid #fff;
    	color: $post-btn-text-color;
    	overflow: hidden;
    }

    a.btn-4:hover {
    	background: $post-btn-text-color;
        color: #fff;
    }

    .btn-4:before {
    	position: absolute;
    	height: 100%;
    	font-size: 125%;
    	line-height: 1.9;
    	color: #fff;
    	-webkit-transition: all 0.3s ease-in-out;
    	transition: all 0.3s ease-in-out;
    }

    .btn-4:active:before {
    	color: #17954c;
    }
    .btn-4c:before {
    	left: 70%;
    	opacity: 0;
    	top: 0;
    }

    .btn-4c:hover:before {
    	left: 80%;
    	opacity: 1;
    }

}
.post-title {
    h3.title a {
        text-decoration: none;
        color: $title-color;
        font-size: 1.8em;
        @include links;

        &:hover {
            color: #094763;
        }
    }

    p {
        color: $title-desc-color;
        font-size: 0.9em;
        line-height: 1;
    }
}
.post-image{
    img {
        max-width: 100%;
        height: auto;
        width: 140%;
        border: 10px solid #f3f3f3;
        background-color: #f3f3f3;
        border-radius: 5px;
        -webkit-box-shadow: 1px 5px 10px #bbb;
                box-shadow: 1px 5px 10px #bbb;
    }
}

.social-title, .newsletter, .contact-title, .update-title{
    h3.title a{
        font-size: 1.1em;
        color: #444;
        text-transform: capitalize;

        @include links;

        &:hover{
            color: #222;
        }
    }
}

.social-title p, .newsletter .newsletter-desc, .post-update .post-content {
    font-size: 13px;
    line-height: 1.5;
    color: #444;
}

.social-links {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: 2em;
    margin-left: -50px;
    margin-right: 0;


    li{
        margin-right: 10px;

        &:last-child{margin-right: 0;}

        a{
            @include links;

            i.rss{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                background: url(../media/rss-btn.png) no-repeat center center;
                max-width: 100%;
                width: 57px;
                height: 57px;
            }
            i.fb{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                background: url(../media/fb-btn.png) no-repeat center center;
                max-width: 100%;
                width: 57px;
                height: 57px;
            }
            i.in{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                background: url(../media/in-btn.png) no-repeat center center;
                max-width: 100%;
                width: 57px;
                height: 57px;
            }
            i.yt{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                background: url(../media/yt-btn.png) no-repeat center center;
                max-width: 100%;
                width: 57px;
                height: 57px;
            }
            i.tw{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                background: url(../media/twitter-btn.png) no-repeat center center;
                max-width: 100%;
                width: 57px;
                height: 57px;
            }

            &:hover{
                -webkit-filter: drop-shadow(3px 5px 8px $muted);
                        filter: drop-shadow(3px 5px 8px $muted);
            }
        }
    }
}
.update a { @include links; }
input.email, input.name, textarea.msg-area {
    max-width: 100%;
    width: 100%;
    font-size: 0.9em;
    font-weight: 400;
    font-family: $base-font;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 18px;
    outline: none;
}
input.email:focus, input.name:focus, textarea.msg-area:focus{
    border-color: rgba(44,177,109,.75);
}
textarea.msg-area{
    height: 190px;
}

.post-update {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;

    .post-update-image{
        flex: 1 1 auto;

        img {
            max-width: 100%;
            height: auto;
            border: 7px solid #f3f3f3;
            background-color: #f3f3f3;
            border-radius: 5px;
            -webkit-box-shadow: 1px 5px 8px #bbb;
                    box-shadow: 1px 5px 8px #bbb;
            overflow: hidden;
        }
    }
    .post-update-cont{
        flex: 2 1 80%;
        display: flex;
        align-items: center;

        p.post-content{
            margin-left: 0.8em;
        }
    }
}

a.btn-action, button.btn-action {
    border: 1px solid transparent;
    color: $body-color;
    background: #016999;
    background: radial-gradient(ellipse at center, $btn-gradient3 0%,$btn-gradient4 0%,$btn-gradient3 0%,$btn-gradient3 0%,$btn-gradient4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5088c1', endColorstr='#3f6d9a',GradientType=1 );
    cursor: pointer;
    padding: 0.5em 3em;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.btn-action:after, input.btn-action:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.btn-action-4, button.btn-action-4 {
    border-radius: 5px;
    border: 1px solid $post-btn-text-color;
    color: $body-color;
    overflow: hidden;
}

a.btn-action-4:hover, button.btn-action-4:hover {
    background: $body-color;
    color: $post-btn-text-color;
}

.btn-action-4:before, button.btn-action-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 1.9;
    color: $post-btn-text-color;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-action-4c:before, button.btn-action-4c:before {
    left: 70%;
    opacity: 0;
    top: 0;
}

.btn-action-4c:hover:before, button.btn-action-4c:hover:before {
    left: 80%;
    opacity: 1;
}
/* == Main Styles end here == */
