html{
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    font-weight: $fw-medium;
    font-size: clamp(1.4rem, 3.2vw, $text-size);
    line-height: clamp(1.3, 1.56, 1.75);
    background-color: $theme-color-11;
    color: $theme-color-7;
}

*,
*:after,
*:before{
    box-sizing: border-box;
    outline: 0;
}

a,
a:hover,
a:focus{
    outline: 0;
    text-decoration: none;
}

a{
    color: $theme-color-7;
    transition: all 300ms ease-in-out;

    &:hover,
    &:focus{
        color: $theme-color-1;
    }

    &:visited{
        color: $theme-color-2;
    }
}

textarea{
    font-family: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}