// Template Variables:

// 1. Colors
$menuColor: #82868f;
$blueColor: #0ebfdd;
// header background, button, section title, section description
$mainColor: #f7fdfe;
$menuBtnBgc: #0ebfdd;
$footerColor: #45494d; // also description in About section
$footer2ndColor: #73767a; // privacy etc
$footer3rdColor: #d7dee4; // menu

// 2. Fonts
$fontInMenu: "MuseoSansBold";
$fontInFooter: "MuseoSansLight";
$fontDescriptions: "MuseoSansRegular";
$fontTitles: "AvenirHeavy";