.page{
    min-height: 100vh;
    overflow: hidden;

    @include breakpoint($tablet-bp){
        .is-sidebar-on &{
            position: relative;
        }
    }
}

.main{
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 0 8rem $sidebarWidth / 2;

    @include breakpoint($tablet-bp){
        padding-top: 4rem;
        padding-left: 0;
    }

    @include breakpoint($mobile-bp){
        padding-bottom: 5rem;
    }
}

.page__mask{
    @include breakpoint($tablet-bp){
        position: absolute;
        top: 4rem; // header height
        left: 0;
        display: block;
        width: 100%;
        height: calc(100% - 4rem);
        background-color: rgba($black, .8);
        z-index: 100;
    }
}