.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    height: $sidebarHeight;
    background-color: $sidebarBgColor;
    box-shadow: 5px 0 15px rgba(#050505, .1);
    z-index: $sidebarZIndex;

    &__header{
        height: 18rem;
        background-color: $secondaryColor;

        @include breakpoint($tablet-bp){
            height: 10rem;
        }
    }

    &__header--image{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__footer{
        padding: 0 2rem;
        display: flex;
        justify-content: space-around;

        @include breakpoint($tablet-bp){
            margin-top: auto;
            margin-bottom: 2rem;
            justify-content: space-between;
        }
    }

    @include breakpoint($tablet-bp){
        display: flex;
        flex-direction: column;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow: auto;
        transform: translateX(-130%);
        transition: transform 300ms ease-in-out;
    }
}

// active state
.is-sidebar-on{
    .sidebar{
        transform: translateX(0);
    }
}
