.post-work{
    margin-bottom: 3rem;
    background-color: $primaryColor;
    box-shadow: 0 15px 25px rgba($black, .35);
    border-radius: $borderRadius;
    display: flex;

    &__preview{
        flex: 0 0 31rem;

        @include breakpoint($mobile-med-bp){
            flex-basis: 100%;
            height: 15rem;
        }
    }

    &__content{
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(100% - 31rem);

        @include breakpoint($mobile-med-bp){
            padding: 1.5rem;
            flex-basis: 100%;
        }
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include breakpoint($mobile-med-bp){
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
    }

    &__title{
        margin-bottom: 3rem;
        font-size: 2.4rem;
        font-weight: $textMedium;

        a{
            color: $white;
        }

        @include breakpoint($mobile-med-bp){
            font-size: 1.8rem;
        }
    }

    &__description{
        margin-bottom: 3rem;
        color: $textLightColor;
        font-size: 1.6rem;
        line-height: 1.68;

        @include breakpoint($mobile-med-bp){
            font-size: 1.4rem;
        }
    }

    &__footer{
        margin-top: auto;
        text-align: right;

        @include breakpoint($mobile-med-bp){
            text-align: left;
        }
    }

    @include breakpoint($mobile-med-bp){
        flex-direction: column;
    }
}