// colors
$body-color: #ffffff;
$title-color: #11719e;
$title-desc-color: #8c8c8c;
$post-text-color: #3e3e3e;
$post-btn-text-color: #016999;
$btn-gradient1: #f6f6f6;
$btn-gradient2: #e8e8e8;
$btn-gradient3: #5088c1;
$btn-gradient4: #3f6d9a;
$footer-bgc: #333333;
$active: #86d9f3;
$muted: #b7b7b7;

// fonts
$menu-footer-font: 'Lora', Georgia, sans-serif;
$logo-font: 'Source Sans Pro', Arial, sans-serif;
$base-font: 'Open Sans', Helvetica, Arial, sans-serif;
