
/* Styles for main content: section slider, newsContent, about-us, our clients  */
main { width: 100%; }
/* Slider styles */
.slider {
    position: relative;
    width: 100%;
    height: 35rem;
    img {
        width: 100%;
        height: 35rem;
        background-size: contain;
    }

    .slider_info {
        position: absolute;
        top: 1rem;
        left: 2rem;
        padding: 0rem 0.6rem;
        background-color: rgba(255,255,255, .5);
        h3 {
            margin: 1rem 0;
            text-transform: uppercase;
            color: #ff03f5;
            font-size: 1.9vw;
        }
        span {
            display: inline-block;
            color: #003642;
            font-size: 1.6vw;
            margin: 1rem 0;
        }
    }
}

.slider_pagination {
    width: 100%;
    background-color: #f3f3f3;
    margin-bottom: 2.5rem;
    .slider_pagination__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        margin: 0;
        padding: 0.8rem;
        line-height: 2rem;
        list-style: none;
        li {
            margin-right: 1rem;
            &:last-child {margin-right: 0;}
            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 0.7rem;
                width: 2rem;
                height: 2rem;
                background-color: #8f8f8f;
                font-size: 1.2rem;
                color: white;
            }
            span.slide_active {
                    background-color: $base_color;
                    color: white;
                }
            a {
                text-transform: uppercase;
                color: #d2d2d2;
                font-size: 1.2rem;
                &:hover, &.slide_active {
                    color: $base_color;
                }
            }
        }
    }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

/* newsContent styles */
.newsContent {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
  .newsContent_leftSide, .newsContent_rightSide {
    display: flex;
    align-items: stretch;
    flex: 1 1 45%;
    flex-flow: row wrap;
    padding: 0 0.8rem;
  }
  .newsContent_leftSide {
    margin-right: 1rem;
    padding: 0;
    .strips { width: 21.5rem; }
    .title__info {
      margin-bottom: 1rem;
      display: flex;
      flex: 1 1 100%;
    }
  }
  .newsContent_rightSide {
    .strips { width: 20.5rem; }
    .title__info {
      margin-bottom: 1rem;
      display: flex;
      flex: 1 1 100%;
    }
  }
}

.title__info {
  .square {
    margin: 0 0.6rem 0 0;
    padding: 0;
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    background-color: $base_color;
    border: none;
  }
  h3 {
    margin: 0;
    a {
      font-family: "Montserrat-Bold", Arial, sans-serif;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: #7e7e7e;
    }
  }
  .strips {
    display: block;
    margin: 0 0 0 0.6rem;
    height: 1.3rem;
    background: repeating-linear-gradient(-45deg, #c8c8c8, #c8c8c8 0px, #fbfbfb 1px, #fbfbfb 7px);
    background-size: 10px 10px;
    max-width: 400px;
  }
}

.newsContent_leftSide__text, .newsContent_rightSide__text {
  display: flex;
  /*flex: 1 1 100%;*/
  margin: 0;
  img {
    width: 10rem;
    height: 10rem;
    margin-right: 1.5rem;
    border: 1px solid white;
    outline: 1px solid #c8c8c8;
    box-sizing: content-box;
  }
  p {
    margin: 0;
    font-size: 0.9rem;
    color: #8f8f8f;
    flex-grow: 1;
  }
}

article .newsContent_leftSide__text .more {
  display: block;
  margin-top: 0.8rem;
  a {
    font-size: 0.8rem;
    color: rgba(#111,.95);
    text-decoration: underline;
    &:hover {text-decoration: none; color: rgba(#5e5a5a,.95); }
  }
}
article .newsContent_rightSide__text span {
  display: block;
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: rgba(#111, .95);
}

/* about-us styles - 3 columns after news section */
.about-us {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  article {
    margin-right: 1rem;
    width: calc(100%/3);
    &:last-child { margin-right: 0;}
    .title__info {
      margin-bottom: 1rem;
      display: flex;
      flex: 1 1 100%;
      .strips {
        width: 15rem;
      }
    }
  }
  .services {
    .strips { width: 68%; }
  }
  .our-team {
    .strips { width: 62%; }
    .our-team_row {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin-bottom: -0.5rem;
      .image {
        img {
          width: 80px;
          height: auto;
          border: 1px solid white;
          outline: 1px solid #c8c8c8;
          box-sizing: content-box;
        }
      }
      .our-team_text {
        margin: 0 0 1rem 0.7rem;
        h5 {
          margin: -0.3rem 0.5rem;
          text-transform: uppercase;
          font-weight: 500;
        }
        p {
          margin: 0 0.5rem;
          font-size: 0.8rem;
          line-height: 1.3rem;
          color: #8f8f8f;
        }
      }
    }
  }
  .support { .title__info { .strips { width: 44%; } } }
  .services, .support {
    .services_content {
      margin: 0;
      p {
        font-size: 0.9rem;
        color: #969696;
      }
      .more {
        font-size: 0.8rem;
        color: rgba(#111,.95);
        text-decoration: underline;
        &:hover {text-decoration: none; color: rgba(#5e5a5a,.95); }
      }
    }
  }
}

/* our clients section styles */
.our-clients {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  margin-bottom: 3.2rem;
  .our-clients_title {
    display: flex;
    flex: 1 1 100%;
    margin-bottom: 1rem;
    .square {
      margin: 0 0.6rem 0 0;
      padding: 0;
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      background-color: $base_color;
      border: none;
    }
    h3 {
      margin: 0;
      a {
        font-family: "Montserrat-Bold", Arial, sans-serif;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #7e7e7e;
      }
    }
    .strips {
      display: block;
      margin: 0 0 0 0.6rem;
      width: 85.7%;
      max-width: 100%;
      height: 1.3rem;
      background: repeating-linear-gradient(-45deg, #c8c8c8, #c8c8c8 0px, #fbfbfb 1px, #fbfbfb 7px);
      background-size: 10px 10px;
    }
  }
  .swiper-container {
      width: 100%;
      height: 9rem;
      margin: 0.5rem auto;
  }
  .swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 8.93rem;
      border: 1px solid transparent;
      background-color: #8e2d2d;
      cursor: pointer;
      transition: all 0.5s ease-in;
      &:hover {
        border: 1px solid $base_color;
        background-color: rgba(#fff,.4);
      }
      a {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        line-height: 8.93rem;
        font-size: 18px;
        color: #f3f3f3;
        &:hover {color:#000;}
      }
  }
}
