/* General settings */
$base_color: #29c5e6;
$font: "Montserrat-Regular";

* {
    outline: none;
}

html {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
img {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
}
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $font;
    font-size: 1em;
    line-height: 1.4em;
    background: #fbfbfb url(../media/crossword.png);
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
