/* Media Queries for small only, medium and up,
* medium only, large and up, large only screen */



/*
  Device = Desktops
  Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* logo and search bar*/

  /* menu */
  .hamburger, .cross {display: none;}
  .menu { display: -webkit-box; display: -ms-flexbox; display: flex; }
}


/*
  Device = Laptops, Desktops
  Screen = from 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* logo and search bar*/

  /* menu */
  .menu { display: none; }
  .cross { display: none;}

  header {
    .menu {
      .menu_base {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        li { a { padding: 0 0.5rem; } }
      }
    }
  }

}


/*
  Device = Tablets, Ipads (portrait)
  Screen = from 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* logo and search bar*/

  /* menu */
  .menu { display: none; }
  .cross { display: none;}

  header {
    .menu {
      .menu_base {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        li { a { padding: 0 0.5rem; } }
      }
    }
  }


}


/*
  Device = Tablets, Ipads (landscape)
  Screen = from 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* logo and search bar*/

  /* menu */
  .menu { display: none; }
  .cross { display: none;}

}


/*
  Device = Low Resolution Tablets, Mobiles (Landscape)
  Screen = from 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* logo and search bar*/


  header {
    .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      .left_elements { margin: 0; }
      .right_elements {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        input.right_elements__serch {
          width: 25rem;
        }
      }
    }
  }

  /* menu */
  .menu { display: none; }
  .cross { display: none;}

  header {
    .menu {
      .menu_base {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        li { a { padding: 0 0.5rem; } }
      }
    }
  }

}


/*
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = from 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* logo and search bar*/

  header {
    .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      .left_elements { margin: 0; }
      .right_elements {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 1.5rem;
        input.right_elements__serch {
          max-width: 23.5rem;
          width: 100%;
        }
      }
    }
  }

  /* menu */
  .menu { display: none; }
  .cross { display: none;}

  header {
    .menu {
      .menu_base {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        li { a { padding: 0 0.5rem; } }
      }
    }
  }

  /* slider */
  .slider {
    height: 12rem;
    .mySlider {
      img {height: 12rem;}
      .slider_info {
        right: 2rem;
        h3 {
          margin: 0;
          font-size: calc(16px + 1vw);
          line-height: 1.6rem;
        }
        span {
          font-size: calc(12px + 1vw);
          margin: 0;
          padding: 1rem 0 0.5rem 0;
        }
      }
    }
  }

  /* newsContent */
  .newsContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .newsContent_leftSide {
      margin-right: 0;
    }
  }

}
