.modal__share{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &-item{
        margin-bottom: .7rem;

        &:not(:last-child){
            margin-right: 1rem;
        }
    }

    &-link{
        width: 45px;
        height: 45px;
        display: block;
        transition: opacity 300ms ease-in-out;

        &:hover,
        &:focus{
            opacity: 0.8;
        }

        img{
            width: inherit;
            height: inherit;
        }
    }
}