.pagination{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item{
        margin: 0 .5rem;
    }

    &__link{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: $paginationLinkColor;
        background-color: $paginationBgColor;
        border-radius: $paginationBorderRadius;
        box-shadow: 0 0 10px rgba($black, .15);

        &:hover{
            background-color: lighten($paginationBgColor, 5%);
        }

        &--active{
            background-color: $paginationBgActiveColor;
            box-shadow: 0 0 10px rgba($paginationBgActiveColor, .15);

            &:hover{
                background-color: $paginationBgActiveColor;
            }
        }
    }

    @include breakpoint($mobile-bp){
        margin-top: 5rem;
    }
}