.post{
    margin-bottom: 3rem;
    padding: 2.5rem;
    background-color: $primaryColor;
    box-shadow: 0 15px 25px rgba($black, .35);
    border-radius: $borderRadius;

    &__header{
        margin: 0 0 2.5rem;

        &--preview{
            margin: -2.5rem -2.5rem 2.5rem;
        }

        @include breakpoint($tablet-bp){
            margin-top: 2.5rem;
        }
    }

    &__content{
        margin-bottom: 3rem;

        &-title{
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
            font-weight: $textMedium;
            line-height: 1.4;
            
            a{
                color: $white;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    &__description{
        font-size: 1.4rem;
        color: $textLightColor;
    }

    &__text{
        padding-bottom: 1rem;
        font-size: 1.4rem;
        color: $textColor;
        border-bottom: 1px solid $borderColor;

        h2,h3,h4,h5,h6{
            margin-bottom: 2rem;
            font-weight: $textBold;
        }

        h2{
            font-size: 2.5rem;
        }

        h3{
            font-size: 2rem;
        }

        h4{
            font-size: 1.8rem;
        }

        h5{
            font-size: 1.5rem;
        }

        h6{
            font-size: 1.3rem;
        }

        p{
            margin-bottom: 2rem;
        }

        ul,
        ol{
            margin-bottom: 2rem;
        }

        ol{
            list-style-type: decimal;
            list-style-position: inside;
        }

        table{
            margin-bottom: 2rem;
            width: 100%;

            thead{
                tr{
                    font-weight: $textBold;
                    font-size: 1.5rem;
                    background-color: #d2d2d2;
                    color: #000;
                }
            }
            td{
                padding: 0.5rem 1rem;
                border: 1px solid #fff;
            }
            
        }

        a{
            color: #107eef;
        }
    }

    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint($mobile-bp){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__meta{
        display: flex;
        align-items: center;
        color: $publishDateColor;
        line-height: 1.2;

        @include breakpoint($mobile-bp){
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }

    &__meta-item{
        &:not(:last-child){
            &::after{
                content: '';
                margin: 0 1.5rem;
                position: relative;
                top: -2px;
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #c4c4c4;
            }
        }

        a{
            color: inherit;

            &:hover{
                color: $textColor;
            }
        }
    }

    &__read{
        font-size: 1.4rem;
        color: $readMoreColor;

        &:hover{
            text-decoration: underline;
        }

        @include breakpoint($mobile-bp){
            font-size: 1.2rem;
        }
    }

    &__panel-actions{
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__panel-link{
        color: rgba($white, .6);

        &:hover{
            color: $white;

            svg{
                path{
                    fill: white;
                }
            }
        }

        svg path{
            transition: fill 300ms ease-in-out;
        }
    }

    @include breakpoint($mobile-bp){
        padding: 1.5rem;
    }
}