.search{
    background-color:  $primaryColor;
    max-width: 21rem;
    width: 100%;

    &__input{
        padding: 1.2rem 2rem;
        display: block;
        width: 100%;
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: 1.2rem;
        color: $searchInputColor;
        transition: background-color 300ms ease-in-out;

        &::placeholder{
            color: rgba(white, 4);
        }

        &::-moz-placeholder{
            color: rgba(white, 4);
        }

        &:focus{
            background-color: $searchInputFocusColor;
        }

        @include breakpoint($tablet-bp){
            padding-top: 1rem;
            padding-bottom: 1rem;
            height: 2rem;
            font-size: 1.6rem;
        }
    }
}