.tags{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;

    &__item{
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
        text-align: center;
        color: $white;
        background-color: $orange;
        border-radius: $borderRadius;

        &:last-child{
            margin-right: 0;
        }
    }
}