/*
* -- Contact
*/

.contact {
    background-color: $color-base;
    margin-bottom: 0;
    padding-bottom: 1rem;

    .section__title, .section__intro-text { color: #fff; }
}

.contact__wrapper {
    max-width: em(978);
    padding-bottom: 3em;
}

.contact-form {
    font-size: em(14);

    @include tablet-port {
        font-size: em(16);
    }
    @include wide {
        font-size: em(18);
    }
}

.contact-form__container {
    margin-bottom: 0.75em;
}

.contact-form__label {
    display: block;
    color: #fff;
    margin-bottom: 0.2em;
}

.contact-form__field {
    display: block;
    padding: 0.5em;
    color: #4d4d4d;
    border: 0;
    background-color: #fff;
    width: 100%;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;

    // remove Safari's rounded corners
    border-radius: 0;
    -webkit-appearance: none;

    &:focus { background-color: #ffc; }
}

.contact-form__field--message {
    height: 8em;
    margin-bottom: 2em;
}

.contact-form__button {
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: em(18);
    color: #fff;
    font-weight: bold;
    border: 0;
    background: -webkit-gradient(linear, left top, right top, from($color-gradient1), to($color-gradient2));
    background: linear-gradient(90deg, $color-gradient1, $color-gradient2);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;

    &:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
