/*
* -- Portfolio
*/

.portfolio__nav, .portfolio__list { list-style-type: none; }

.portfolio__nav {
	text-align: center;
	margin-bottom: 2em;

    @include tablet-port {
        text-align: left;
    }
}

.portfolio__nav-li {
    display: inline-block;

    &.is-active .portfolio__nav-item {
        color: $color-highlight;
    }

    @include tablet-port {
        display: block;
    }
}

.portfolio__nav-item {
	color: #4d4d4d;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
	display: inline-block;
	font-size: em(16);
	margin: 0.3em 0.8em;

	&:hover {
		color: $color-highlight;
	}

    @include tablet-port {
        display: inline-block;
        font-size: em(22);
        margin: 0 0 1.25em;
    }
}

.hide {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
}
.tab-cont {
    opacity: 1;
    transition: opacity 0.4s;
}

.tab-cont.hide { opacity: 0; }

.portfolio__item {
	display: block;
	margin-bottom: 2em;
	text-decoration: none;
	@include hover-border;

	img {
		max-width: none;
		width: 100%;
	}
}
