<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__wrapper">
                <li class="nav__item">
                    <a href="#!" class="nav__link" title="Home">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link has-submenu" title="News">News</a>
                    <ul class="subnav">
                        <li class="subnav__item">
                            <a href="#!" class="subnav__link" title="Building website">Building website</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#!" class="subnav__link" title="SEO">SEO</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#!" class="subnav__link" title="Projects">Projects</a>
                        </li>
                        <li class="subnav__item">
                            <a href="#!" class="subnav__link" title="Marketing">Marketing</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link" title="About me">About me</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link" title="Ads">Ads</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__wrapper">
                <li class="nav__item">
                    <a href="#!" class="nav__link" title="Profile">Profile</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link" title="Profile">Log out</a>
                </li>
            </ul>
        </nav>
        <form action="/" class="search">
            <input type="search" class="search__input" placeholder="Search something..." />
        </form>
    </div>
</header>