<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="is-sidebar-ons">

    <section class="page">
        <!-- Header -->
        {{> header }}
        
        <!-- Sidebar -->
        {{> sidebar }}
        
        <!-- Main content -->
        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>

        {{> modal-story }}

    </section>

    <!-- JS -->
    <script src="assets/js/app.js"></script>
</body>
</html>
