html, body {
    color: $color-base;
    background-color: #fafafa;
}
body, input, button, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
}

@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7aorz');
  src:  url('fonts/icomoon.eot?7aorz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7aorz') format('truetype'),
    url('fonts/icomoon.woff?7aorz') format('woff'),
    url('fonts/icomoon.svg?7aorz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-device-mobile {
  &:before {
    content: $icon-device-mobile;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-earth {
  &:before {
    content: $icon-earth;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-birthday {
  &:before {
    content: $icon-birthday;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-gmail {
  &:before {
    content: $icon-gmail;
  }
}
