$icomoon-font-path: "fonts" !default;

$icon-bookmark: "\e907";
$icon-device-mobile: "\e903";
$icon-mail: "\e901";
$icon-envelope: "\e902";
$icon-earth: "\e909";
$icon-home: "\e905";
$icon-birthday: "\e900";
$icon-skype: "\e904";
$icon-gmail: "\e906";

