@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
@font-face {
  font-family: 'Nautilus';
  src: url(../fonts/Nautilus.otf);
  font-weight: normal;
  font-size: 100%;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Typography */
body {
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: calc(0.8em + 0.4vw);
  font-weight: normal;
  line-height: calc(1em + 0.4vw);
}

button, select, textarea, h1, h2, h3, h4, h5, h6, input {
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 100%;
  font-weight: normal;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #f2f1f1;
  color: #111;
  line-height: calc(1.2rem + 0.3vw);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

.container-full {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 100%;
}

.section {
  background-color: #fff;
  padding: 2rem 15px 60px;
  width: 100%;
}

.hide {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}

.btn {
  padding: 0.3em;
  background-color: #54d154;
  color: #fff;
  border-radius: 25px;
  outline: none;
}

.btn:hover {
  background-color: #34bb34;
  color: #f2f1f1;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
}

.hvr-icon-down:before {
  content: "\f063";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.icon-effect {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: .7em;
  color: #54d154;
  border-radius: 50%;
}

.icon-effect:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.icon-effect:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.icon .icon-effect {
  -webkit-box-shadow: 0 0 0 3px #eee;
          box-shadow: 0 0 0 3px #eee;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.icon .icon-effect::after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #eee;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

.icon .icon-effect:hover::after {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
}

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em !important;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
     transition-duration: 0.1s;
}

.hvr-icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
     transition-duration: 0.1s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}

.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
      transform: translateX(4px);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #333;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #f2f1f1;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  -ms-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  -ms-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
}

h3.section-title {
  margin: 0;
  padding-top: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #828181;
}

p.section-description {
  margin: 0;
  padding-top: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(0.8rem + 0.4vw);
  color: #b7b3b3;
  text-align: center;
}

.grid-container__item-bar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  height: 90px;
  width: 2px;
  background: #207b20;
  margin-bottom: 0.5rem;
}

.link-group a.tag-uidesign {
  background-color: #ffba00;
}

.link-group a.tag-photography {
  background-color: #089dea;
}

.link-group a.tag-magazine {
  background-color: #54d154;
}

.link-group a.tag-book {
  background-color: #f34d04;
}

.link-group a.tag-uidesign:hover,
.link-group a.tag-photography:hover,
.link-group a.tag-magazine:hover,
.link-group a.tag-book:hover {
  color: #5A5A58 !important;
}

p.widget-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #f2f1f1;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/*
* Header Styles
*/
header {
  position: relative;
  width: 100%;
  background-color: #cfcece;
  background-image: url(../media/header.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 90vh;
}

nav {
  padding: 0.15rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: transparent;
  z-index: 999;
}

nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

nav .brand a.brand-text {
  margin: 0 0 -5px 0;
  color: #fff;
  font-family: "Nautilus", cursive;
  font-size: 1.4em;
  font-weight: 600;
  text-shadow: 1px 0px 15px #f2f1f1;
}

nav ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header-content {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
}

.header-content h1 {
  font-size: calc(2.5em + 0.5vw);
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: calc(1em + 0.3vw);
}

.header-content a.btn {
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.scroll-down {
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.8;
}

.scroll-down a.btn {
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 16px;
  color: #111;
  background-color: #fff;
  padding-left: 1.1em;
}

.scroll-down a.btn:hover {
  color: #333;
  background-color: #eee;
}

ul.menu li {
  margin-right: 15px;
  border-top: 5px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

ul.menu li:last-child {
  margin-right: 0px;
}

ul.menu li:last-child a {
  text-transform: capitalize;
}

ul.menu li:hover {
  border-top: 5px solid #54d154;
}

ul.menu li:hover a {
  color: #f2f1f1;
  text-shadow: none;
}

ul.menu li a {
  color: #fff;
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 0px 5px #f2f1f1;
}

#toggleMenu {
  display: none;
  padding: 0 5px;
  cursor: pointer;
}

#navbar span#mobmenu {
  padding: 0px 10px;
  cursor: pointer;
  color: #f2f1f1;
  display: none;
}

.section-wwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-wwd__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 3rem;
  text-align: center;
}

.section-wwd__content .section-wwd__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  padding: 0 5px;
}

.section-wwd__item .section-wwd__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-bottom: 1em;
}

.section-wwd__item .section-wwd__item-title {
  font-family: "ProximaNovaBold", sans-serif;
  font-size: calc(1.1em + 0.5vw);
  color: #828181;
}

.section-wwd__item p.section-wwd__item-description {
  padding-top: 1em;
  padding-bottom: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  color: #828181;
}

.section-wwd__item a.btn {
  padding: 0.3em 1em;
  font-weight: bold;
}

.section-wwd__item a.btn:hover {
  background-color: #34bb34;
  color: #f2f1f1;
}

.section:nth-child(2) {
  background-color: #54d154;
}

#works .section-title {
  color: #207b20;
}

#works .section-description {
  color: #2b9b2b;
}

ul.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f1f1;
  max-width: 320px;
  margin: 3rem auto;
  padding: 0;
  overflow: hidden;
  border: 1px dashed #54d154;
  border-radius: 50px;
}

ul.tabs li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  text-align: center;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

ul.tabs li.tab-active {
  background-color: #2b9b2b;
}

ul.tabs li.tab-active a {
  color: #f2f1f1;
}

ul.tabs li.tab-active a:hover {
  color: #f2f1f1;
}

ul.tabs li.tab-active:hover {
  background-color: #258725;
}

ul.tabs li:hover {
  background-color: #ebe9e9;
}

ul.tabs li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 15px;
  text-transform: capitalize;
  color: #54d154;
}

ul.tabs li a:hover {
  color: #2eab2e;
}

.tabs-content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.tabs-content .tabs-content__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding: 0.6em;
}

.tabs-content .tabs-content__item img {
  opacity: 0.85;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}

.tabs-content .tabs-content__item img:hover {
  opacity: 1;
  -webkit-transform: rotate(2deg) scale(1);
      -ms-transform: rotate(2deg) scale(1);
          transform: rotate(2deg) scale(1);
  -webkit-box-shadow: 1px 1px 10px rgba(242, 241, 241, 0.9);
          box-shadow: 1px 1px 10px rgba(242, 241, 241, 0.9);
}

#portfolio_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

#portfolio_more a {
  background-color: #2b9b2b;
  cursor: pointer;
  padding: 0.5rem 1em;
  text-transform: capitalize;
  font-family: 'ProximaNovaRegular';
}

#portfolio_more a:hover {
  background-color: #31af31;
}

#testimonials {
  padding-bottom: 1rem;
}

#testimonials .section-title {
  color: #828181;
}

#testimonials .section-description {
  color: #b7b3b3;
}

.owl-carousel {
  max-width: 50em;
  width: 100%;
  height: auto;
  margin: 3em auto;
  overflow: hidden;
}

.owl-carousel .owl-item img {
  display: block;
  max-width: 100%;
  height: 84px;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  padding: 0 5rem;
}

.quote q {
  font-family: 'ProximaNovaRegular', sans-serif;
  color: #444;
}

footer.quote-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

footer.quote-author .quote-author__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.quote-author .quote-author__avatar img {
  -o-object-fit: contain;
     object-fit: contain;
}

footer.quote-author .quote-author__credentials {
  margin-left: 0.5rem;
  text-align: left;
}

footer.quote-author .quote-author__credentials p {
  color: #444;
  font-family: 'ProximaNovaRegular', sans-serif;
}

footer.quote-author .quote-author__credentials span {
  color: #ccc;
  font-size: 0.95rem;
  font-family: 'ProximaNovaBold', sans-serif;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #e0dfdf !important;
  background: none !important;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
  color: #333 !important;
  background: rgba(226, 223, 223, 0.34) !important;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: 0 !important;
}

.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 20px !important;
  padding-left: 10px !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 20px !important;
  padding-left: 10px !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#clients {
  background-color: #f2f1f1;
}

.grid-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0 1rem 0;
}

.grid-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px;
}

.grid-container ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 5px;
}

#clients #portfolio_more {
  padding-top: 1rem;
}

#clients #portfolio_more a {
  background-color: #dddcdc;
  color: #a59d9d;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#clients #portfolio_more a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#dddcdc), to(#C5C2C2));
  background: -webkit-linear-gradient(left, #dddcdc, #C5C2C2);
  background: -o-linear-gradient(left, #dddcdc, #C5C2C2);
  background: linear-gradient(to right, #dddcdc, #C5C2C2);
  color: rgba(62, 61, 61, 0.75);
}

#team {
  background-color: #54d154;
  margin-bottom: -1em;
}

#team .section-title {
  color: #207b20;
}

#team .section-description {
  color: #2b9b2b;
}

#team .grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#team .grid-container .grid-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 5);
          flex: 1 1 calc(100% / 5);
  text-align: center;
}

.grid-container__item .grid-container__item-header {
  margin-bottom: 0.5em;
}

.grid-container__item .grid-container__item-header .circle {
  width: 160px;
  height: 160px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff;
}

.grid-container__item .grid-container__item-header .p1 {
  background: url(../media/team1.jpg) no-repeat;
  background-position: center top -1px;
  background-size: cover;
}

.grid-container__item .grid-container__item-header .p2 {
  background: #fff url(../media/team2.png) no-repeat;
  background-position: center top 1px;
  background-size: cover;
}

.grid-container__item .grid-container__item-header .p3 {
  background: #fff url(../media/team3.png) no-repeat;
  background-position: center top 10px;
  background-size: cover;
}

.grid-container__item .grid-container__item-header .p4 {
  background: #fff url(../media/team4.png) no-repeat;
  background-position: center top 1px;
  background-size: cover;
}

.grid-container__item .grid-container__item-header .p5 {
  background: #fff url(../media/team5.jpg) no-repeat;
  background-position: center top 1px;
  background-size: cover;
}

.grid-container__item-footer p {
  margin: 0;
  color: #fff;
}

.grid-container__item-footer span,
.widget-left span {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.2em 0.6em;
  vertical-align: middle;
  border-radius: 20px;
  background-color: #c5e9c5;
}

.grid-container__item-footer span a,
.widget-left span a {
  margin-right: 0.3em;
}

.grid-container__item-footer span a:last-child,
.widget-left span a:last-child {
  margin-right: 0;
}

.grid-container__item-footer span a i,
.widget-left span a i {
  font-size: 1.5rem;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.grid-container__item-footer span a i.fa-twitter,
.widget-left span a i.fa-twitter {
  color: #00aced;
}

.grid-container__item-footer span a i.fa-twitter:hover,
.widget-left span a i.fa-twitter:hover {
  color: rgba(0, 172, 237, 0.8);
}

.grid-container__item-footer span a i.fa-dribbble,
.widget-left span a i.fa-dribbble {
  color: #e65e90;
}

.grid-container__item-footer span a i.fa-dribbble:hover,
.widget-left span a i.fa-dribbble:hover {
  color: rgba(230, 94, 144, 0.8);
}

.grid-container__item-footer span a i.fa-linkedin,
.widget-left span a i.fa-linkedin {
  color: #057eb7;
}

.grid-container__item-footer span a i.fa-linkedin:hover,
.widget-left span a i.fa-linkedin:hover {
  color: rgba(5, 126, 183, 0.8);
}

.team-footer {
  padding: 2rem 0;
  background-color: #3eba3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-footer a.btn {
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 7px rgba(27, 173, 27, 0.7);
          box-shadow: 0 5px 7px rgba(27, 173, 27, 0.7);
}

.team-footer a.btn:hover {
  background-color: rgba(82, 206, 82, 0.65);
}

footer.col {
  background-color: #333;
}

footer.footer-wrapper {
  display: grid;
  grid-gap: 30px;
  padding: 1.5rem 3rem 2rem 3rem;
}

.widget-left article.widget-content {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
}

.widget-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-middle {
  padding: 0 1rem;
}

.widget-middle .widget-middle__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.widget-middle .widget-middle__content li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.widget-middle .widget-middle__content li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.widget-middle .widget-middle__content li .link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 80%;
          flex: 2 1 80%;
  margin-left: .8rem;
}

.widget-middle .widget-middle__content li .link-group a:nth-child(1) {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
  margin-bottom: 0.3rem;
}

.widget-middle .widget-middle__content li .link-group a:nth-child(2) {
  color: #f2f1f1;
  text-transform: uppercase;
  padding: 0 4px;
  border-radius: 2px;
  font-size: 0.9rem;
}

.widget-right .widget-right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
  margin-bottom: 1rem;
}

.widget-right .widget-right__top p {
  margin: 0;
  color: #ccc;
  font-size: 0.9rem;
}

.widget-right .widget-right__bottom form.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  max-width: 500px;
}

.widget-right .widget-right__bottom form.contact-us input.name {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.widget-right .widget-right__bottom form.contact-us input, .widget-right .widget-right__bottom form.contact-us textarea {
  margin-bottom: 2px;
  padding: 0.45rem;
  background-color: #444;
  border: 0;
  color: #f2f1f1;
  font-size: 1rem;
}

.widget-right .widget-right__bottom form.contact-us input:focus, .widget-right .widget-right__bottom form.contact-us textarea:focus {
  background-color: #4e4e4e;
}

.widget-right .widget-right__bottom form.contact-us input::-webkit-input-placeholder, .widget-right .widget-right__bottom form.contact-us textarea::-webkit-input-placeholder {
  color: #777;
}

.widget-right .widget-right__bottom form.contact-us input:-ms-input-placeholder, .widget-right .widget-right__bottom form.contact-us textarea:-ms-input-placeholder {
  color: #777;
}

.widget-right .widget-right__bottom form.contact-us input::-ms-input-placeholder, .widget-right .widget-right__bottom form.contact-us textarea::-ms-input-placeholder {
  color: #777;
}

.widget-right .widget-right__bottom form.contact-us input::placeholder, .widget-right .widget-right__bottom form.contact-us textarea::placeholder {
  color: #777;
}

.widget-right .widget-right__bottom form.contact-us textarea {
  resize: none;
}

.widget-right .widget-right__bottom form.contact-us button.btn-action {
  padding: .5rem 0;
  background-color: #2b9b2b;
  color: #f2f1f1;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  text-transform: uppercase;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.widget-right .widget-right__bottom form.contact-us button.btn-action:hover {
  background-color: #288f28;
}

.sub-footer {
  padding: 0.5rem 0;
  background: #111;
  text-align: center;
}

.sub-footer p {
  color: #f2f1f1;
  font-size: 1rem;
  font-family: 'Nautilus', Helvetica, Arial, sans-serif;
}
