// general
$primaryColor: #202020;
$secondaryColor: #121212;
$textColor: white;
$bodyBgColor: #181818;
$textSize: 1.4rem;
$primaryFont: system-ui,-apple-system,"Segoe UI", Roboto,"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// sidebar
$sidebarZIndex: 1000;
$sidebarWidth: 300px;
$sidebarHeight: 100vh;
$sidebarBgColor: #1C1C1C;