.mb-0{
    margin-bottom: 0;
}

.ml-1{
    margin-left: 1rem;
}

.post__panel-link--icon{
    display: flex;
    align-items: center;
}

.page__title{
    margin-bottom: 3rem;
    font-size: 2.1rem;
    color: $white;
}