/* Typography */
html, body {
    background-color: $body-color;
    color: #0d0c0c;
    font-family: $base-font;
    font-size: 100%;
    line-height: calc(1.1em + 0.5vw);
    box-sizing: border-box;
}
button, select, textarea, h1,h2,h3,h4,h5,h6, input {
    font-family: $base-font;
    font-size: 100%;
}
